include ../mixins
include ../../bemto/bemto
block variables

doctype html
html(lang="ru-RU" class=stickyClass)
	block head
		head
			meta(charset="utf-8")
			title #{title}
			<!--[if IE]>
			meta(http-equiv='X-UA-Compatible', content="IE = edge")
			<![endif]-->
			meta(name="viewport" content="width=device-width,initial-scale=1")
			meta(name="keywords" content="")
			link(rel="shortcut icon" href="img/favicon.png" type="image/x-icon")
			link(rel="stylesheet" type='text/css' href="css/main.css")

			<!--[if lt IE 9]>
			script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
			<![endif]-->
	body(class=pageClass=stickyClass)
		div
			.loader
				.loader_inner
					include ../../img/preloader.svg
		block modal
			include modal
		// Элемент cd-transition-layer это тоже для прикольной анимации модалки
		.cd-transition-layer
			.bg-layer
		nav(canvas="" class="")
			.mnu_btn
				label(id="nav-button-label")
					#nav-lines
						i.nav-line
						i.nav-line
						i.nav-line
						i.nav-line

		div(canvas='container' class=stickyClass)
			block header
				include ../modules/header
			block main
			block footer
				include ../modules/footer
		div(off-canvas='id-1 left shift')
			nav.header_nav_mobile
				ul.menu
					each link,title in nav.navPages
						li
							a(href= link)= title
		div(off-canvas='id-2 right push')
		div(off-canvas='id-3 top overlay')
		div(off-canvas='id-4 bottom shift')
		script(src="js/libs.min.js")
		script(src="js/main.js")
		block script